.header {
  background: #000000;
}
.headerInfo {
  padding: 15px 0;
}
.headerContainer img {
  width: 80px;
}
.headerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.headerNav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.headerNav a {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  padding: 10px;
}
.headerNav a::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #b3b3b3;
  transition: 0.3s;
}
.headerNav a:hover {
  color: #b3b3b3;
}
.headerNav a:hover::after {
  width: 100%;
}
.headerNav a:global(.active) {
  color: #b3b3b3;
}
.headerNav a:global(.active)::after {
  width: 100%;
}
.mobileButton {
  background: #eee;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}
.mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  background: currentColor;
  border-radius: 2px;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}
.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  background: white;
  box-shadow: 0 0 0 3px #fea;
  border-color: #fb1;
  color: #fb1;
}
.mobileButtonActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}
.navMobile {
  display: block;
  position: absolute;
  top: 50px;
  right: 8px;
  padding: 0 1rem;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}
.navMobileActive {
  transition: 0.3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
}
.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  color: #000000;
}
.navMobile a:hover {
  color: #b3b3b3;
}
